// Colors
$accent: #ea703b;
$text: #1b1b1b;
$white: #fff;
$black: #1b1b1b;
$gray: #9b9b9b;
$grayLight: rgba(155, 155, 155, 0.5);
$overlayColor: #23262f;

$green: #35a619;
$yellow: #dfd70d;
$red: #d31c1c;
